<p-tabView>
    <p-tabPanel header="Home">
      <h1>Welcome ! this project was done in the context of an internship at the Henceforth company, please choose from the menu the analysis you want to observe.</h1>
    </p-tabPanel>
    <p-tabPanel header="Username Frequency">
      <h1>We group the tweets by username, then count the number of tweets and then sort the data by the frequency of usernames.</h1>
      <app-user-frequency></app-user-frequency>
    </p-tabPanel>
    <p-tabPanel header="The most popular Hashtags">
      <h1>We directly retrieve data from the twitter API to show the most popular (trending) hashtags.</h1>
      <app-pupular-hashtags></app-pupular-hashtags>
    </p-tabPanel>
</p-tabView>
